<header>
    <div class="menu-items">
      <a class="menu-item" routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>
      <a class="menu-item" routerLink="/reports" routerLinkActive="active"> Reports </a>
      <a class="menu-item" routerLink="/standalone" routerLinkActive="active"> Standalone </a>
    </div>
    <div class="theme-switcher" data-tooltip="Theme mode">
      <label class="switch">
        <input
          type="checkbox"
          [checked]="isLightTheme"
          (change)="onThemeChange()"
        >
        <span class="slider"></span>
      </label> 
    </div>
</header>